@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: origflyingsausage;


		src: url("https://static.wixstatic.com/ufonts/afd815_86a922a44a644f2684df9d290a079228/woff2/file.woff2") format("woff2"),
		url("https://static.wixstatic.com/ufonts/afd815_86a922a44a644f2684df9d290a079228/woff/file.woff") format("woff"),
		url("https://static.wixstatic.com/ufonts/afd815_86a922a44a644f2684df9d290a079228/ttf/file.ttf") format("ttf");
}
@font-face {
	font-family: space-mono;
	src: url("https://static.wixstatic.com/ufonts/3ce3bb_e8aff00dec244f79a73f8152ff7d6887/woff2/file.woff2") format("woff2"),
	url("https://static.wixstatic.com/ufonts/3ce3bb_e8aff00dec244f79a73f8152ff7d6887/woff/file.woff") format("woff"),
	url("https://static.wixstatic.com/ufonts/3ce3bb_e8aff00dec244f79a73f8152ff7d6887/ttf/file.ttf") format("ttf");
	}
@font-face {
	font-family: monsterrat;
	src: url('/fonts/Montserrat-Regular.ttf') format('TrueType');
}

@font-face {
	font-family: monsterrat-bold;
	src: url('/fonts/Montserrat-Bold.ttf') format('TrueType');
}